.container {
    width: 100%;
    height: 100%;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.profile-img {
    width: 180px;
    margin-top: 2rem;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.home-content h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.home-content p {
    font-size: 1rem;
    color: #444;
}

/* .job-title {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
    border-right: 2px solid black;
    white-space: nowrap;
    width: 0;
    animation: typing 6s steps(30, end) infinite, blink 0.5s step-end infinite alternate;
  }
  
  @keyframes typing {
    0%, 10% {
      width: 0;
    }
    20%, 30% {
      width: 100%;
    }
    40%, 50% {
      width: 0;
    }
    60%, 70% {
      width: 100%;
    }
    80%, 90% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes blink {
    0%, 100% {
      border-color: black;
    }
    50% {
      border-color: transparent;
    }
  }
  
  /* Ganti teks dengan pseudo element */
  /* .job-title::after {
    content: "Teacher";
    animation: words 20s  infinite;
  }
  
  @keyframes words {
    0%, 20% {
      content: "Teacher";
    }
    21%, 40% {
      content: "Writer";
    }
    41%, 60% {
      content: "Motivator";
    }
    61%, 80% {
      content: "Entrepreneur";
    }
    81%, 100% {
      content: "Hafiz";
    }
  } */

  .text-animation span {
    position: relative;
}

  .text-animation span::before {
    content: "Web Developer";
    color: #fff;
    animation: words 20s infinite;
} 

  .text-animation span::after {
    content: "";
    background-color: #444;
    position: absolute;
    width: calc(100% + 8px);
    /* height: 100%; */
    border-left: 3px solid #333;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #666;
    }
}

@keyframes words {
    0%,
    20%{
        content: "architect";
    }
    21%,
    40%{
        content: "Lecturer";
    }
    41%,
    60%{
        content: "Enterpreneur";
    }
    61%,
    80%{
        content: "Businessman";
    }
    81%,
    100%{
        content: "Author";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}