.container {
    width: 100%;
    height: 100%;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.profile-img {
    width: 180px;
    margin-top: 2rem;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.home-content h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.home-content p {
    font-size: 1rem;
    color: #444;
}